<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__item">
        <a href="index.html" class="footer__logo"><img src="img/logo.svg" alt="Footer Logo"></a>
      </div>
      <div class="footer__item">
        <div class="footer__title">Company</div>
        <nav class="footer__company">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Objects</a></li>
            <li><a href="#">Property management</a></li>
            <li><a href="#">Articles about Georgia</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <div class="footer__title">Follow us</div>
        <nav class="footer__follow-us">
          <ul>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <div class="footer__contact">
          <a href="tel:12345678900" class="footer__phone">+1 234 567 8900</a>
          <a href="mailto:info@grandcity.com" class="footer__mail">info@grandcity.com</a>
          <a href="#" class="footer__btn btn btn-reset">Request a Call</a>
        </div>
      </div>
    </div>

    <div class="footer__copy">
      <div class="copyright">©<span class="year"></span>
        <script>
          let today = new Date();
          let year = today.getFullYear();
          document.querySelector('.year').innerHTML = year;
        </script> All Rights Reserved.
      </div>
      <a href="https://webcapitan.com" target="_blank" class="webcapitan">Development by Webcapitan TEAM</a>
    </div>
  </div>
</footer>
