<header class="header">
  <div class="header__container">
    <div class="header__wrap">
      <div class="header__burger">
        <div class="header__burger-wr">
          <button class="burger" aria-label="Open menu" data-burger>
            <span class="burger__line"></span>
          </button>
        </div>
        Menu
      </div>
      <a href="#" class="header__logo"><img src="img/logo.svg" alt="Logo"></a>
      <div class="header__phone">
        <span>Call now!</span><a href="tel:804320000000"><img src="img/header-phone.svg" alt="Call now!"></a>
      </div>
    </div>

  </div>
  <nav class="header__nav" data-menu>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Objects</a></li>
      <li><a href="#">Property management</a></li>
      <li><a href="#">Articles about Georgia</a></li>
      <li><a href="#">Partners</a></li>
    </ul>
  </nav>
</header>
