<div class="search">
  <form action="#" class="form-search">
    <div class="select">
      <select>
        <option selected value="New Developments">New Developments</option>
        <option value="1">Item - 1</option>
        <option value="2">Item - 2</option>
        <option value="3">Item - 3</option>
        <option value="4">Item - 4</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option selected value="Areas">Areas</option>
        <option value="1">Item - 1</option>
        <option value="2">Item - 2</option>
        <option value="3">Item - 3</option>
        <option value="4">Item - 4</option>
      </select>
    </div>
    <div class="select">
      <select>
        <option selected value="Price">Price</option>
        <option value="1">Item - 1</option>
        <option value="2">Item - 2</option>
        <option value="3">Item - 3</option>
        <option value="4">Item - 4</option>
      </select>
    </div>
    <input type="search" class="btn-reset form__btn">
  </form>
</div>
