:root {
  // base

  --font-family: "Inter";
  --content-width: 1530px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors

  --primary: #ffffff;
  --blueBg: #0078B6;
  --btnBg: #0091DC;
  --mainBg: #152233;
}
